<form method="post" action="/articles">
Article title: <input type="text" id="title" name="article_title">
Article content: <input type="text" id="content" name="article_content">
<input type="submit" id="submit" value="submit">
</form>